// CORES
$bege-claro: #edece4;
$bege-medio: #cbc6b9;
$bege-escuro: #988c77;
$cinza: #242426;
$verde: #1AB912;

// FONTES
$monofont: 'PT Mono', monospace;
$serifont: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin tipo-1($size) {
  font-family: $monofont;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  }
}

@mixin tipo-2($size) {
  font-family: $serifont;
  @if $size == 18 {
    font-size: em(18);
    line-height: em(30, 18);
  } 
  @else if $size == 24 {
    font-size: em(24);
    line-height: em(30, 24);
  }
}
